/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}



.jumbotron {
	position: relative;
     background: url("../images/header_bg.png") no-repeat center center;
     background-size: cover;
     text-align: center;
     color: white;
}

.jumbotron img{
     width: 5em;
}

.project {
     width: auto;
}

p {
     font-variant: small-caps;
}

.project p {
     font-variant: small-caps;
}

.thumbnail p {
     padding-top: 1em;
     text-align: center;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

